<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Awesome Website - Maintenance</title>
    </head>
    <body>
        <h1>Maintenance</h1>
        <p>Appologies, the site is currently in maintenance. Please check back later.</p>        
    </body>
</html>